<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="AutoQA">
        <classes>
            <class name="org.mytests.tests.LoginTest"/>
            <class name="org.mytests.tests.DifferentElementPageTest"/>
            <class name ="org.mytests.tests.SearchTest"/>
            <class name ="org.mytests.tests.MetalsColorsTest"/>
            <class name ="org.mytests.tests.NavigationTest"/>
            <class name ="org.mytests.tests.ContactFormTest"/>
            <class name="org.mytests.tests.ComplexTablePageTest"/>
            <class name="org.mytests.tests.SimpleTableTest"/>
            <class name="org.mytests.tests.TableWithPagesTest"/>
            <class name="org.mytests.tests.DatesPageTest"/>
        </classes>
    </test>
</suite>