<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="AutoQA">
        <classes>
            <class name="org.mytests.tests.LoginTest">
            </class>
            <class name="org.mytests.tests.DifferentElementPageTest">
            </class>
            <class name ="org.mytests.tests.SearchTest">
            </class>
            <class name ="org.mytests.tests.MetalsColorsTest">
            </class>
            <class name ="org.mytests.tests.NavigationTest">
            </class>
        </classes>
    </test>
</suite>